src/Test/MetaDslx.Bootstrap/ExpectedFiles/xsd/Xsd08.Hello.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.hello.org/test"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:hw="http://www.hello.org/test"
		elementFormDefault="qualified">

	<xs:element name="IntList" type="hw:IntList"/>
	<xs:complexType name="IntList">
		<xs:sequence>
			<xs:element name="items" nillable="true">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="values" type="xs:int" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

