src/Test/MetaDslx.Bootstrap/ExpectedFiles/xsd/Xsd04.Hello.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.hello.org/test"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:hw="http://www.hello.org/test"
		elementFormDefault="qualified">

	<xs:element name="MathException" type="hw:MathException"/>
	<xs:complexType name="MathException">
		<xs:sequence>
			<xs:element name="ErrorCode" type="xs:int" nillable="false"/>
			<xs:element name="ErrorMessage" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

