src/Test/MetaDslx.Bootstrap/InputFiles/xsd/Xsd02.Hello.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.hello.org/test"
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:hw="http://www.hello.org/test"
		elementFormDefault="qualified">

	<xs:element name="MathFault" type="hw:MathFault"/>
	<xs:complexType name="MathFault">
		<xs:all>
			<xs:element name="ErrorCode" type="xs:int" nillable="false"/>
			<xs:element name="ErrorMessage" type="xs:string" nillable="true"/>
		</xs:all>
	</xs:complexType>
</xs:schema>

